$primary-color: #181C43;
$primary-background-color: #F3F3FA;
$bone-color: #E6DBD0;
$taupe-color: #7D6167;
$deepTaupe-color: #754F5B;
$eggplant-color: #5D4954;
$blue-color: #212fa0;
$grayLight-color: #E4E4E4;
$gray-color: #C3D0D8;;
$primary-border-color: $primary-color;

$background-color: #FAF3F3;

$error-color: #FF6683;
$error-background-color: mix(#FF6683, white, 20%);
$error-border-color: darken(#FF6683, 40%);

$success-color: #42b66e;

$border-radius: 4px;
$spacer: 24px;
$animation-duration: .3s;